<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Install Chocolatey and Web Platform Installer before attempting to run this script. -->
  <!-- Run from the commandline with: cinst chocolatey_packages.config -->


  <!-- Utils -->
  <package id="git.install" />
  <package id="poshgit" />
  <!-- <package id="hg" /> -->
  <!-- <package id="Posh-HG" /> -->
  <!-- <package id="curl" /> -->
  <!-- <package id="Wget" /> -->
  

  <!-- Dev Tools -->
  <package id="sublimetext2" />
  <package id="fiddler" />
  <package id="putty" />
  <package id="ilspy" />
  <package id="papercut" />
  <package id="windirstat" />
  <package id="ccleaner" />
  <package id="lockhunter" />
  <package id="7zip.install" />
  <package id="Console2" />
  <package id="sysinternals" />
  <package id="keepass" />
  <package id="filezilla" />
  <package id="winscp" />
  <package id="winmerge" />
  <!-- <package id="notepadplusplus.install" /> -->
  <!-- <package id="Vagrant.install" /> -->
  <!-- <package id="OptiPNG" /> -->


  <!-- Apps -->
  <package id="GoogleChrome" />
  <package id="Firefox" />
  <package id="Opera" />
  <package id="skype" />
  <package id="vlc" />
  <package id="paint.net" />
  <package id="greenshot" />
  <!-- <package id="iTunes" /> -->
  <!-- <package id="sumatrapdf.install" /> -->


  <!-- Languages -->
  <package id="python" />
  <package id="ruby" />
  <package id="ruby.devkit" />
  <package id="nodejs.install" />
  <package id="aspnetmvc" />
  <package id="mono" />
  <package id="iisexpress" source="webpi" />
  <!-- <package id="javaruntime" /> -->


  <!-- Source Control -->
  <package id="githubforwindows" />
  <!-- <package id="tortoisesvn" /> -->
  <!-- <package id="tortoisehg" /> -->
  <!-- <package id="tortoisegit" /> -->


  <!-- Requires prompts -->
  <!-- <package id="virtualbox" /> -->

  <!-- Dies if already installed with newer version... -->
  <!-- <package id="skydrive" /> -->

  <!-- Failed NOT wanting admin privs... -->
  <!-- <package id="dropbox" /> -->
  <!-- <package id="spotify" /> -->

  <!-- Died -->
  <!-- <package id="googledrive" /> -->
</packages>
